@font-face {
  font-family: "ProductSans";
  src: url("./assets/fonts/ProductSans-Medium.ttf");
}

@font-face {
  font-family: "Minigame";
  src: url("./assets/fonts/Minigame.ttf");
}

@font-face {
  font-family: "CircularSpotifyTxT";
  src: url("./assets/fonts/CircularSpotifyTxT-Black.ttf");
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: "DM Sans Bold";
  src: url("./assets/fonts/DMSans-Bold.ttf");
}

@font-face {
  font-family: "UberMove";
  src: url("./assets/fonts/UberMoveMedium.otf");
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "DM Sans";
}

h1,
h2,
h3 {
  font-family: "DM Sans Bold";
}
